* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 200ms ease;
}

html {
  font-family: 'Quicksand', Helvetica, sans-serif;
  font-size: 62.5%;
  -webkit-text-size-adjust: none;
}

body {
  font-size: 1.6rem;
  background-color: black;
}

#examples {
  display: flex;
  margin: 20vh auto;
  max-width: 650px;
  gap: 0.1em;
  color: white;
  border-radius: 2rem;
  overflow: hidden;
}

.example {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  gap: 1rem;
  padding: 3rem;
  text-align: center;
  background-color: #111;
}

.button {
  display: block;
  text-align: center;
  padding: 2rem;
  font-size: 2rem;
  font-weight: bold;
  background-color: #5D11FF;
  text-decoration: none;
  color: white;
  border-radius: 1rem;
}

.button:hover {
  background-color: #460AC6;
}

.hidden {
  display: none;
}